@use './variables' as *;
@use './mixins' as *;

body {
  font-family: $fontFamily;
  background-color: $colorBlack;
  color: $colorWhite;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;

  @include media(tablet) {
    font-size: 18px;
  }

  @include media(laptop) {
    font-size: 20px;
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;

  @include media(mobile) {
    min-width: 375px;
    max-width: 767px;
  }

  @include media(tablet) {
    min-width: 768px;
    max-width: 1279px;
  }

  @include media(laptop) {
    min-width: 1280px;
    max-width: 1919px;
  }

  @include media(desktop) {
    min-width: 1920px;
    max-width: 1920px;
  }
}

.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.05;

  @include media(mobile) {
    font-size: 40px;
  }

  @include media(tablet) {
    font-size: 64px;
  }

  @include media(laptop) {
    font-size: 66px;
  }

  @include media(desktop) {
    font-size: 85px;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.05;

  @include media(mobile) {
  }

  @include media(tablet) {
  }

  @include media(laptop) {
    font-size: 50px;
  }

  @include media(desktop) {
  }
}

.text {
  font-weight: 100;
  font-size: 14px;
  line-height: 1.6;

  @include media(mobile) {
    font-size: 16px;
  }

  @include media(tablet) {
    font-size: 18px;
  }

  @include media(laptop) {
    font-size: 20px;
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.btn-secondary,
.btn-primary {
  font-family: $fontFamily;
  color: $colorWhite;
  border-radius: 100px;
  outline: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.35s ease;

  &:active {
    transform: scale(0.97);
  }

  &:hover {
    transform: scale(0.97);
  }
}

.btn-primary {
  background-color: $colorPrimary;
  box-shadow: inset 0 0 10px 2px rgba(21, 93, 94, 0.8);

  &:hover {
    box-shadow:
      0 6px 18px rgba(21, 93, 94, 0.35),
      0 0 15px rgba(21, 93, 94, 0.45),
      inset 0 0 14px rgba(21, 93, 94, 0.65);
  }

  &:focus {
    outline: 2px solid $colorWhite;
    outline-offset: 2px;
  }

  &:disabled {
    outline: 2px solid $colorPrimary;
    outline-offset: 2px;
  }
}

.btn-secondary {
  box-shadow: inset 0 0 10px 2px #262833;
  background-color: $colorInkGray;

  &:hover {
    box-shadow:
      0 8px 22px rgba(38, 40, 51, 0.45),
      0 0 20px rgba(38, 40, 51, 0.55),
      inset 0 0 16px rgba(38, 40, 51, 0.75);
  }

  &:active {
    box-shadow:
      0 8px 22px rgba(38, 40, 51, 0.45),
      0 0 20px rgba(38, 40, 51, 0.55),
      inset 0 0 16px rgba(38, 40, 51, 0.75);
  }

  &:focus {
    outline: 2px solid $colorPrimary;
    outline-offset: 2px;
  }

  &:disabled {
    outline: 2px solid $colorPrimary;
    outline-offset: 2px;
  }
}
