$fontFamily: 'Geologica', sans-serif;

$colorPrimary: #0f3d3e;
$colorSecondary: #b89959;
$colorWhite: #ffffff;
$colorBlack: #040308;
$colorInkGray: #1a1b21;
$colorFrostGray: #e4e6eb;
$colorIceGray: #f1f2f4;
