<header class="header-section">
  <div class="container header-container">
    <a href="./index.html" class="logo-link">
      <img src="/logo.svg" alt="Company Name" class="logo" />
    </a>

    <button
      class="burger-btn"
      type="button"
      aria-label="Open menu"
      aria-expanded="false"
      aria-controls="header-nav"
    >
      <svg
        width="40"
        height="10"
        viewBox="0 0 40 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="40" height="2" fill="white" />
        <rect y="8" width="40" height="2" fill="white" />
      </svg>
    </button>

    <nav class="header-nav" id="header-nav" aria-label="Main navigation">
      <div class="nav-header">
        <a href="./index.html" aria-hidden="true" tabindex="-1">
          <img src="/logo.svg" alt="Company Name" class="logo-mob-menu" />
        </a>
        <button
          class="burger-btn-close"
          type="button"
          aria-label="Close menu"
          aria-expanded="true"
          aria-controls="header-nav"
        >
          <svg width="40" height="40" viewBox="0 0 24 24" fill="none">
            <path
              d="M18 6L6 18M6 6L18 18"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </button>
      </div>

      <ul class="nav-list">
        <li class="nav-item">
          <span class="nav-number" aria-hidden="true">01 /</span>
          <a href="#insight" class="nav-link">Insight</a>
        </li>
        <li class="nav-item">
          <span class="nav-number" aria-hidden="true">02 /</span>
          <a href="#about" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <span class="nav-number" aria-hidden="true">03 /</span>
          <a href="#build" class="nav-link">What we build</a>
        </li>
        <li class="nav-item">
          <span class="nav-number" aria-hidden="true">04 /</span>
          <a href="#approach" class="nav-link">Our Approach</a>
        </li>
        <li class="nav-item">
          <span class="nav-number" aria-hidden="true">05 /</span>
          <a href="#partners" class="nav-link">Who we work with</a>
        </li>
        <li class="nav-item">
          <span class="nav-number" aria-hidden="true">06 /</span>
          <a href="#influence" class="nav-link">Our Philosophy</a>
        </li>
        <li class="nav-item nav-item-mob">
          <span class="nav-number" aria-hidden="true">07 /</span>
          <a href="#" class="nav-link" data-modal="contact">Contact us</a>
        </li>
      </ul>

      <footer class="footer-burger">
        <p class="burger-copyright">© 2026 Velora. All rights reserved.</p>
        <div
          class="burger-socials-wrap"
          role="navigation"
          aria-label="Social links"
        >
          <span class="burger-socials-text">Social links:</span>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
            class="burger-social-link"
          >
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.4676 1.43359C2.32523 1.43359 1.40058 2.35991 1.40039 3.49969C1.40039 4.64058 2.32504 5.56671 3.46778 5.56671C4.60738 5.56671 5.53333 4.64058 5.53333 3.49969C5.53333 2.35972 4.60719 1.43359 3.4676 1.43359Z"
                fill="white"
              />
              <path
                d="M1.68464 7.13454H5.24926V18.6033H1.68464V7.13454Z"
                fill="white"
              />
              <path
                d="M14.3239 6.84936C12.5899 6.84936 11.4272 7.80007 10.9513 8.70162H10.9036V7.13454H7.48484L7.48465 18.6031H11.0461V12.9296C11.0461 11.4338 11.3309 9.98501 13.1854 9.98501C15.0133 9.98501 15.0377 11.6957 15.0377 13.0255V18.603H18.5997V12.3124C18.5997 9.22466 17.9334 6.84936 14.3239 6.84936Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </footer>
    </nav>

    <div class="header-actions-desktop">
      <a href="#" class="nav-link" data-modal="contact">Contact us</a>
    </div>
  </div>
</header>
