<section id="hero" class="hero-section">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        We design human infrastructure for companies that scale<span>.</span>
      </h1>
      <p class="hero-text">
        Velora combines executive recruitment with intelligent systems design —
        helping companies grow through precision hiring and performance
        architecture.
      </p>
      <div class="hero-box-btn">
        <a href="#" class="btn-primary btn-work"> Work with Velora </a>
        <a href="#" class="btn-secondary btn-explore"> Explore our approach </a>
      </div>
    </div>
    <div class="hero-box-img">
      <picture>
        <source
          srcset="/architectural-blocks-2x.webp"
          media="(min-width: 1280px)"
        />
        <img
          class="hero-img"
          src="/architectural-blocks.webp"
          alt="Architectural blocks symbolizing structured company growth"
          width="798"
          height="787"
          fetchpriority="high"
        />
      </picture>
    </div>
  </div>
</section>
