<section id="hero" class="hero-section">
  <div class="hero-container">
    <div class="wrapper-hero-text">
      <h1 class="gold-text hero-title">TwoCards Partners</h1>
      <p class="hero-text">Turn your traffic into profit</p>
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="btn-primary btn-start"
        >Let's start</a
      >
    </div>
    <div class="hero-img-wrap">
      <picture>
        <source srcset="/images/hero-img.png" media="(min-width: 1110px)" />
        <source
          srcset="/images/hero-img-tablet.png"
          media="(min-width: 768px)"
        />
        <img
          src="/images/hero-img-phone-two.png"
          alt="Casino characters"
          class="hero-img"
        />
      </picture>
    </div>
  </div>
</section>
