<section class="ticker-section">
  <div class="container ticker-container">
    <div class="ticker-content">
      <span class="subtitle ticker-item">Architecture</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
      <span class="subtitle ticker-item">Scale</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
      <span class="subtitle ticker-item">Precision</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
      <span class="subtitle ticker-item">Systems</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
      <span class="subtitle ticker-item">Architecture</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
      <span class="subtitle ticker-item">Scale</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
      <span class="subtitle ticker-item">Precision</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
      <span class="subtitle ticker-item">Systems</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
      <span class="subtitle ticker-item">Architecture</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
      <span class="subtitle ticker-item">Scale</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
      <span class="subtitle ticker-item">Precision</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
      <span class="subtitle ticker-item">Systems</span>
      <img
        src="/velora.svg"
        alt=""
        class="ticker-icon"
        width="32"
        height="32"
      />
    </div>
  </div>
</section>
