@use './common/index' as *;

.footer {
  border-top: 1px solid rgba($colorWhite, 0.15);
}

.footer-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(tablet) {
    padding: 20px 40px;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  @include media(laptop) {
    padding: 20px 60px;
  }

  @include media(desktop) {
    padding: 20px 80px;
  }
}

.footer-copyright {
  font-weight: 100;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: $colorWhite;

  @include media(tablet) {
    font-size: 18px;
    text-align: left;
  }
}

.footer-links {
  display: flex;
  gap: 24px;

  @include media(tablet) {
    gap: 32px;
  }
}

.footer-link {
  font-weight: 100;
  font-size: 15px;
  line-height: 1.2;

  color: $colorWhite;
  text-decoration: none;
  transition: color 0.35s ease;

  &:hover {
    color: $colorPrimary;
    text-decoration: underline;
  }
}

.footer-socials-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  @include media(tablet) {
    gap: 20px;
  }
}

.footer-socials-text {
  font-weight: 100;
  font-size: 16px;
  line-height: 1.6;
  color: $colorWhite;

  @include media(tablet) {
    font-size: 18px;
  }
}

.footer-socials {
  display: flex;
  gap: 12px;

  @include media(tablet) {
    gap: 16px;
  }
}

.footer-social-link {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba($colorWhite, 0.1);
  border-radius: 50%;
  box-shadow:
    0 1px 2px 0 rgba(10, 13, 18, 0.05),
    inset 0 -2px 0 0 rgba(10, 13, 18, 0.05),
    inset 0 0 0 1px rgba(10, 13, 18, 0.18);
  background-color: $colorInkGray;

  transition: all 0.35s ease;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 0.7;
    border: 1px solid rgba($colorWhite, 0.5);
  }

  @include media(desktop) {
    width: 52px;
    height: 52px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
