@use './common/index' as *;

.header-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.header-section.is-scrolled {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;

  @include media(tablet) {
    padding: 25px 40px;
  }

  @include media(laptop) {
    padding: 25px 20px;
  }

  @include media(desktop) {
    padding: 25px 80px;
  }
}

.logo-link {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(0.96);
  }
}

.logo {
  width: 172px;
  height: 32px;

  @include media(tablet) {
    width: 269px;
    height: 50px;
  }
}

.burger-btn {
  width: 40px;
  height: 10px;
}

.burger-btn-close {
  width: 40px;
  height: 40px;

  svg {
    width: 40px;
    height: 40px;
    stroke: $colorWhite;
  }
}

.burger-btn,
.burger-btn-close {
  padding: 0;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.35s ease;

  &:hover {
    transform: scale(0.94);
  }

  @include media(laptop) {
    display: none;
  }
}

.header-nav {
  position: fixed;
  top: 0;
  right: -100%;
  // width: 100vw;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  background-color: $colorBlack;
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
  overflow-y: auto;
  border-left: 1px solid $colorPrimary;

  &.active {
    right: 0;
  }

  @include media(laptop) {
    position: static;
    height: auto;
    background: none;
    backdrop-filter: none;

    width: 64%;

    max-width: 860px;

    align-items: center;
    justify-content: space-between;

    overflow-y: visible;
    border-left: none;
  }

  @include media(desktop) {
    width: 100%;
    max-width: 1000px;
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: $colorPrimary;

  @include media(laptop) {
    display: none;
  }
}

.logo-mob-menu {
  width: 172px;
  height: 32px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 20px 30px;

  @include media(laptop) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px 0;
  border-bottom: 1px solid $colorPrimary;
  transition: all 0.35s ease;

  &:hover {
    background: rgba($colorPrimary, 0.1);
    padding-left: 12px;
  }

  &:active {
    background: rgba($colorPrimary, 0.1);
  }

  @include media(laptop) {
    border-bottom: none;
    padding: 0;
    gap: 0;

    &:hover {
      background: none;
      padding-left: 0;
      border-radius: 0;
    }

    &:active {
      background: rgba($colorPrimary, 0.2);
      transform: scale(0.98);
    }
  }
}

.nav-number {
  color: $colorSecondary;
  font-size: 16px;
  font-weight: 700;
  min-width: 36px;
  transition: all 300ms ease;

  &:hover {
    transform: scale(1.1);
  }

  @include media(laptop) {
    display: none;
  }
}

.nav-link {
  font-family: $fontFamily;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  color: $colorWhite;
  text-decoration: none;
  transition: all 0.35s ease;
  flex: 1;
  white-space: nowrap;

  &.active {
    color: $colorWhite;

    @include media(laptop) {
      background-color: rgba(141, 67, 255, 0.2);
    }
  }

  .nav-item:hover & {
    color: $colorSecondary;
  }

  @include media(laptop) {
    font-weight: 250;
    font-size: 18px;
    line-height: 1.2;
    padding: 4px 10px;
    border-radius: 16px;
    background-color: transparent;
    text-transform: capitalize;

    &:hover {
      color: $colorSecondary;
      background-color: rgba($colorWhite, 0.1);
    }
  }
  @include media(desktop) {
    font-size: 20px;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: auto;

  @include media(laptop) {
    display: none;
  }
}

.btn-contact {
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  max-width: 300px;
  height: 56px;

  @include media(laptop) {
    display: none;
  }
}

.header-actions-desktop {
  display: none;

  @include media(laptop) {
    display: block;
  }
}

.hidden {
  display: none;
}
