@use './common/index' as *;

.hero-section {
  // background-image: url(/images/hero-bg-phone.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include media(tablet) {
    // background-image: url(/images/hero-bg.png);
  }
}

.hero-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  height: 700px;

  @include media(tablet) {
    width: 768px;
    padding-top: 238px;
  }

  @include media(desktop) {
    width: clamp(1110px, 100vw, 1920px);
    aspect-ratio: 1920 / 900;
    height: auto;
    min-height: 700px;
    max-height: 900px;
    padding-top: clamp(252px, 19cqw, 330px);
    container-type: inline-size;
  }
}

.wrapper-hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 344px;
  z-index: 1;

  @include media(desktop) {
    width: 828px;
  }
}

.hero-title {
  font-weight: 600;
  font-size: 46px;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;

  @include media(desktop) {
    font-size: clamp(46px, 3.6cqw, 70px);
  }
}

.hero-text {
  font-weight: 600;
  font-size: 46px;
  line-height: 1;
  text-align: center;

  @include media(desktop) {
    font-weight: 600;
    font-size: clamp(46px, 3.6cqw, 70px);
    line-height: 1.2;
    text-align: center;
  }
}

.btn-start {
  font-weight: 800;
  font-size: 15px;
  border-radius: 100px;
  width: 344px;
  height: 50px;
  margin-top: 32px;

  @include media(desktop) {
    font-size: 20px;
    width: 220px;
    height: 60px;
    margin-top: 50px;
  }
}

.hero-img-wrap {
  position: absolute;
  top: 27%;
  right: 50%;
  transform: translate(50%, -50%);

  @include media(tablet) {
    top: 36%;
  }

  @include media(desktop) {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: none;
  }
}

.hero-img {
  width: 312px;
  height: 250px;

  @include media(tablet) {
    height: 750px;
    width: 540px;
    object-fit: contain;
  }

  @include media(desktop) {
    height: 100%;
    width: 100%;
  }
}
