@use './common/index' as *;

.hero-section {
  background-color: $colorBlack;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 92px 16px 0;

  @include media(tablet) {
    padding: 142px 20px 0;
  }

  @include media(laptop) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 182px 40px 0;
  }

  @include media(desktop) {
    padding: 182px 80px 0;
  }
}

.hero-content {
  width: 100%;

  @include media(tablet) {
    width: 82%;
    margin: 0 auto;
  }
  @include media(laptop) {
  }
  @include media(desktop) {
    width: 56%;
  }
}

.hero-box-img {
  width: 100%;
  margin-top: 28px;

  @include media(tablet) {
    margin-top: 34px;
    height: 500px;
  }

  @include media(laptop) {
    margin-top: 0;
    height: auto;
  }
  @include media(desktop) {
    width: 44%;
  }
}

.hero-title {
  font-weight: 400;
  font-size: 38px;
  line-height: 1.05;
  margin-bottom: 12px;

  span {
    color: $colorSecondary;
  }

  @include media(mobile) {
    font-size: 40px;
  }

  @include media(tablet) {
    font-size: 64px;
    margin-bottom: 32px;
  }

  @include media(laptop) {
    font-size: 66px;
  }

  @include media(desktop) {
    margin-bottom: 24px;
    font-size: 95px;
  }
}

.hero-text {
  font-weight: 250;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;

  @include media(tablet) {
    font-size: 18px;
  }

  @include media(laptop) {
    font-size: 20px;
  }

  @include media(desktop) {
    width: 64%;
    font-size: 24px;
    margin-bottom: 48px;
  }
}

.hero-box-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(tablet) {
    flex-direction: row;
    align-items: start;
    justify-content: start;
  }

  @include media(laptop) {
    justify-content: start;
  }
}

.btn-explore,
.btn-work {
  width: 100%;
  max-width: 375px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

  @include media(tablet) {
    width: 260px;
    height: 68px;
    font-size: 24px;
  }
}

.btn-explore {
  @include media(tablet) {
    width: 312px;
  }
}

.hero-img {
  object-fit: contain;
}
