@use './common/index' as *;

.partners-section {
  background-color: $colorWhite;
}

.partners-container {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 16px;

  @include media(tablet) {
    padding: 54px 32px;
  }

  @include media(laptop) {
    padding: 120px 40px;
  }

  @include media(desktop) {
    padding: 140px 60px;
  }
}

.partners-title {
  color: $colorBlack;
}

.partners-subtitle {
  color: $colorBlack;
}

.partners-list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  @include media(laptop) {
    position: relative;
  }
}

.partners-item {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.4s ease;

  @include media(tablet) {
    padding: 20px 0;
  }

  @include media(laptop) {
    padding: 40px 24px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.partners-number {
  color: $colorSecondary;
  margin-right: 12px;
}

.partners-item-title {
  color: $colorBlack;
}

.partners-img-wrap {
  margin-left: auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(tablet) {
    width: 70px;
    height: 70px;
  }

  @include media(laptop) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 500px;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
  }
}

.partners-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@include media(laptop) {
  .partners-item:hover .partners-img-wrap {
    opacity: 1;
  }
}
