@use './common/index' as *;

.ticker-section {
  background-color: $colorBlack;
}

.ticker-container {
  width: 100%;
  height: 72px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: $colorPrimary;

  @include media(tablet) {
    height: 154px;
  }
}

.ticker-content {
  display: flex;
  align-items: center;
  gap: 14px;
  animation: ticker-scroll 40s linear infinite;
  white-space: nowrap;

  @include media(tablet) {
    gap: 40px;
  }
}

.ticker-item {
  color: $colorWhite;
}

.ticker-icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;

  @include media(tablet) {
    width: 70px;
    height: 70px;
  }
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-wrapper:hover .ticker-content {
  animation-play-state: paused;
}
